/* ASSIGNMENT 1 STYLES */

/* General HTML Styles*/
html,
body {
  font-size: 60%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h3,
p,
ul li {
  color: #1D5172;
}

ul li {
  list-style: square;
}

p {
  margin: 0;
}

/* Footer Styles */
.footerImage {
    width: 5.0rem;
    height: 5.0rem;
  }
  
  .footer {
    margin-top: auto;
  }

/* Layout Styles */
.mainContainer {
  display: grid;
  height: 100%;
}

.fourColumnGrid {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
}

.leftColumnColor {
  background-color: #f3e9de;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.mainColor {
  background-color: #faf4ec;
}

/* Alignment Styles */
.center-aligned {
  text-align: center;
}

.left-aligned {
  align-self: flex-start;
}

.down-aligned {
  align-self: flex-end;
}

/* Justified Styles */
.betweenJustify {
  justify-content: space-between;
}

.centerJustify {
  justify-content: center;
}

/* Padding Styles */
.smallPadding {
  padding: 0.8rem;
}

.bigPadding {
  padding: 1.6rem;
}

/* Gap Styles */
.gap {
  gap: 0.8rem;
}

/* Button Styles */
.newNoteButton,
.darkModeButton,
.saveButton,
.cancelButton {
  border-radius: 0.8rem;
  border: none;
  color: white;
}

.newNoteButton {
  background-color: #31555E;
}

.darkModeButton {
  background-color: #56536a;
}

.saveButton {
  background-color: #31555E;
}

.cancelButton {
  background-color: #93312A;
}

/* Input Styles */
textarea {
  text-align: left;
  border-radius: 0.8rem;
  border-color: #1D5172;
  border: 0.2rem solid #1D5172;
  width: 100%;
}

::placeholder {
  opacity: 1;
  color: black;
}

/* Media Queries */
@media (min-width: 900px) {
  .fourColumnGrid {
    grid-template-columns: 1fr 5fr;
  }
}

@media only screen and (max-width: 650px) {
  .fourColumnGrid {
    grid-template-columns: 1fr;
  }
  textarea {
    height: 7em;
  }
}

/* ASSIGNMENT 2 STYLES */