/* General HTML Styles*/
html,
body {
  font-size: 60%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1,
h3,
p,
ul li {
  color: #256993;
}

ul li {
  list-style: square;
}

p {
  margin: 0;
}

/* Footer Styles */
.footerImage {
    width: 5.0rem;
    height: 5.0rem;
  }
  
  .footer {
    margin-top: auto;
  }


